<ul class="menu vertical">
  <li><a href="/" class="name"><h1><span class="part firstname">M</span>&nbsp;<span class="part lastname">H</span></h1></a></li>
  <li><a href="/who">Who</a></li>
  <li><a href="/what">What</a></li>
  <li><hr></li>
  <li><p>Other places on the web</p></li>
  <li><a href="/" class="icon"><img src="{{root}}assets/img/linkedin-with-circle.svg"/></a>
    <a href="https://github.com/mhanselm" class="icon">
      <img src="{{root}}assets/img/github-with-circle.svg"/>
    </a>
    <a href="https://dribbble.com/mhanselm" class="icon"><img src="{{root}}assets/img/dribbble-with-circle.svg"/></a>
    <a href="/" class="icon"><img src="{{root}}assets/img/500px-with-circle.svg"/></a>
  </li>
</ul>
